@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



@import "tailwindcss";


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.input {
  @apply w-full border rounded-md px-3 py-2 text-sm
  focus:outline-none focus:ring-2 focus:ring-emerald-500;
}



body{
  font-family: "poppins", sans-serif;
  background-color: #F9FAFB;
  color: #111827;
}


.p {
  color: #4B5563;
}

.card, .product-box {
  background-color: #FFFFFF;
  border: 1px solid #E5E7EB;
  box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.btn-primary {
  background-color: #2563EB;
  color: white;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
}

.btn-secondary {
  background-color: #025424;
  color: white;
  border-radius: 6px;
  padding: 10px 16px;
  border: none;
}


.price {
  color: #16A34A;
  font-weight: bold;
}

.error {
  color: #DC2626;
}


.footer-link {
  @apply text-sm text-gray-300 hover:text-green-400 cursor-pointer transition;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Add to your index.css file */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.2s ease-out;
}

.animate-slideInRight {
  animation: slideInRight 0.3s ease-out;
}
